@charest "UTF-8"
/* CSS Document */
*{
    box-sizing; border-box;
}
.flex-container {
    display: flex;
    background: url("background.png") no-repeat fixed top right;
    background-size: cover;
    flex-direction: row;
    background-color: #004aad;
}

body{
    background-color: skyblue;
    background-size: cover;
    opacity: 90%;
}

    #container{
        margin: 0 auto;
        width: 767px;  
    }

    header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

h3{
  text-align: center;
    color:black;
    font-size: x;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

h4{
  text-align: left;
    color:black;
    font-size: medium;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }